openapi: "3.1.0"
info:
  title: SASHA Partner API
  summary: Protect images with SASHA Signature
  description: |
    This API allows protecting new images and checking if an image is already protected with SASHA Signature.

    ## Authenticate with Client Credentials

    To authenticate with Client Credentials, you need to send a request to the
    [`/oauth/token`](https://developer.sasha.eu/partner-api/api-reference/rest-api/get-token) endpoint.

    The server will authenticate the Partner and return an Access Token that can be used for making
    requests to the Signature endpoints.

    ## Protect an image with SASHA Signature

    To protect an image with SASHA Signature, you need to send a request to the
    [/signature/embed](https://developer.sasha.eu/partner-api/api-reference/rest-api/embed-signature) endpoint, providing
    the image file or the URL to the image file.

    The server will return a Job object with the job ID and status. Once the job is complete,
    the protected image file will be available at the `output_url` and the `signature_id` will be populated
    representing the globally unique identifier of the protected image.

    Partners may poll for the job status using the `/jobs/{job_id}` endpoint or provide a `callback_url` in
    the request to receive notifications when the job is complete.

    ## Check if an image is already protected with SASHA Signature

    To check if an image is already protected with SASHA Signature, you need to send a request to the
    [/signature/lookup](https://developer.sasha.eu/partner-api/api-reference/rest-api/lookup-signature) endpoint, providing
    the image file or the URL to the image file.

    The server will return a Job object with the job ID and status. Once the job is complete,
    the Job object will contain the `signature_id` and `creator_id` fields if a SASHA Signature is found.

    ## Records and Distribution Guidance

    Partners can attach a Record to a signature they registered using the `/signature/{signature_id}/record`
    endpoints. A Record carries the creator's declared distribution intent (where and when the media
    is allowed to appear) and display metadata.

    When a lookup finds a signature, the completed Job includes a `guidance` object: SASHA's
    evaluation of the found signature's Record against the `publish_url` and `source_url` provided
    in the lookup request. Guidance contains coarse values plus an optional human-readable
    `message`; the Record contents are never disclosed to the party performing the lookup, though
    the `message` may name domains from the Record's allowed URL patterns (domain names are public
    knowledge).

    ## Job Status and Callbacks

    All operations are asynchronous and return a Job object with a unique job_id. You can:

    1. **Poll for status**: Use the `/jobs/{job_id}` endpoint to check job status.
    2. **Callback notifications**: Provide a `callback_url` in your request to receive notifications when the job status changes.

    ## Callback Notifications

    If you provide a `callback_url` in your Embed Signature or Lookup Signature request, the system will send HTTP POST
    requests to that URL whenever the job status changes. The callback payload will contain the
    complete Job object with updated status information. Partners can use this callback to track the status of their
    jobs and get notified when the job is complete to get the result.

    Partners can validate the callback request to ensure it genuinely comes from SASHA and was not
    modified in transit, see callback documentation below.

    ## Error responses

    Every response carries a `SASHA-Request-ID` header identifying that request. Quote it when
    contacting SASHA support: it is what joins your call to the server-side logs.

    A failing request to the Signature, Job or Record endpoints returns an `ErrorResponse`:

    ```json
    {
      "message": "purchase_url must use the https: protocol (+2 more)",
      "request_id": "8f14e45f-ceea-467a-9f0b-2b3a2c5a7d61",
      "details": [
        {
          "field": "purchase_url",
          "reason": "UNSUPPORTED_SCHEME",
          "description": "purchase_url must use the https: protocol"
        }
      ]
    }
    ```

    - `message` is always present. On a validation failure it is the first `details` entry's
      `description`, suffixed with ` (+N more)` when the request has more than one violation.
    - `request_id` mirrors the `SASHA-Request-ID` response header.
    - `details` is present on validation failures only, and lists at most 20 violations. Each
      entry names the offending `field` in request-body naming (`purchase_url`,
      `allowed_publish_urls[2]`, `custom_fields["asset_id"].string_value`), a machine-readable
      `reason`, and a human-readable `description` that never echoes the value you submitted.

    Branch on `reason`, never on the text of `message` or `description`. The reason catalogue is
    `REQUIRED`, `INVALID_TYPE`, `INVALID_FORMAT`, `UNSUPPORTED_SCHEME`, `FORBIDDEN_USERINFO`,
    `FORBIDDEN_HOST`, `TOO_LONG`, `TOO_MANY`, `INVALID_CHARACTERS`, `UNKNOWN_VALUE`,
    `NOT_ALLOWED_HERE`, `EXACTLY_ONE_REQUIRED`, `UNKNOWN_FIELD`, `EMPTY` and `INVALID_PATTERN`;
    each value is documented on the `FieldViolation` schema. The set is closed, but it may be
    extended with new reasons — treat a `reason` you do not recognise as a generic validation
    failure rather than failing hard.

    The `/oauth/token` endpoint is the exception: it returns the OAuth 2.0 error shape
    (`error`, `error_description`, `error_uri`) defined by RFC 6749.
  contact:
    name: API Support
    email: support@sasha.eu
  version: "1.4.0"

externalDocs:
  description: SASHA Developer Portal
  url: https://developer.sasha.eu

servers:
  - url: https://partner.api.sasha.eu
    description: Partner API server

tags:
  - name: Authentication
    description: Authenticate Partner and get an Access Token
  - name: Embed
    description: Embed a SASHA Signature into an image
  - name: Lookup
    description: Check if a SASHA Signature is present in an image
  - name: Job
    description: Job management
  - name: Record
    description: Manage Records attached to signatures

paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Get Token
      description: |
        Authenticate Partner and get an Access Token.

        The request should contain the Client ID and Client Secret passed as Basic Authentication credentials.
      operationId: GetToken
      security:
        - BasicAuth: []
      requestBody:
        description: Get Token Request
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/GetTokenRequest"
      responses:
        "200":
          description: Successful operation
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTokenResponse"
        "400":
          description: Bad request
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthErrorResponse"
        "401":
          description: Unauthorized
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthErrorResponse"

  /signature/embed:
    post:
      tags:
        - Embed
      summary: Embed Signature
      description: Embed a SASHA Signature into the provided image file
      operationId: EmbedSignature
      externalDocs:
        description: Embed Signature
        url: https://developer.sasha.eu/partner-api/concepts/signature#embed-signature
      security:
        - BearerAuth: []
      requestBody:
        description: Embed Signature Request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmbedSignatureFromURLRequest"
            examples:
              embedRequestFromURLWithCallback:
                $ref: "#/components/examples/embedRequestFromURLWithCallback"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/EmbedSignatureFromDataRequest"
            encoding:
              # The Record is an object, so it travels as a JSON-encoded string
              # in its own form field rather than as nested bracket fields.
              record:
                contentType: application/json
      callbacks:
        jobStatusChanged:
          $ref: "#/components/callbacks/jobStatusChanged"
      responses:
        "200":
          description: Successful operation
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmbedSignatureResponse"
              examples:
                embedJobPending:
                  $ref: "#/components/examples/embedJobResponsePending"
        "400":
          $ref: "#/components/responses/ValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"

  /signature/lookup:
    post:
      tags:
        - Lookup
      summary: Lookup Signature
      description: Check if the provided image contains SASHA Signature
      operationId: LookupSignature
      externalDocs:
        description: Lookup Signature
        url: https://developer.sasha.eu/partner-api/concepts/signature#lookup-signature
      security:
        - BearerAuth: []
      requestBody:
        description: Lookup Signature Request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LookupSignatureFromURLRequest"
            examples:
              lookupRequestFromURLWithCallback:
                $ref: "#/components/examples/lookupRequestFromURLWithCallback"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/LookupSignatureFromDataRequest"
      callbacks:
        jobStatusChanged:
          $ref: "#/components/callbacks/jobStatusChanged"
      responses:
        "200":
          description: Successful operation
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupSignatureResponse"
              examples:
                lookupJobPending:
                  $ref: "#/components/examples/lookupJobResponsePending"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"

  /jobs/{job_id}:
    get:
      tags:
        - Job
      summary: Get Job
      description: Gets job information by its ID
      operationId: GetJob
      security:
        - BearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the job to retrieve
      responses:
        "200":
          description: Successful operation
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
              examples:
                embedJobPending:
                  $ref: "#/components/examples/embedJobPending"
                lookupJobPending:
                  $ref: "#/components/examples/lookupJobPending"
                embedJobCompleted:
                  $ref: "#/components/examples/embedJobCompleted"
                lookupJobCompleted:
                  $ref: "#/components/examples/lookupJobCompleted"
                embedJobFailed:
                  $ref: "#/components/examples/embedJobFailed"
                lookupJobFailed:
                  $ref: "#/components/examples/lookupJobFailed"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"

  /jobs:
    get:
      tags:
        - Job
      summary: List Jobs
      description: Lists all jobs
      operationId: ListJobs
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListJobsResponse"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"

  /signature/{signature_id}/record:
    parameters:
      - name: signature_id
        in: path
        required: true
        schema:
          $ref: "#/components/schemas/SignatureID"
        description: The SignatureID of the signature whose Record to manage
    put:
      tags:
        - Record
      summary: Put Record
      description: |
        Create or fully replace the Record attached to a signature.

        This is a full-replace upsert: the stored Record becomes exactly the provided Record
        (last write wins, no field merging). It may be called for any signature registered by
        the partner, regardless of when the signature was registered.

        A signature without a Record is treated as private.

        Supports optimistic concurrency: pass the current `ETag` in an `If-Match` header to
        make the write conditional; a stale precondition returns `412 Precondition Failed`.
      operationId: PutSignatureRecord
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      security:
        - BearerAuth: []
      requestBody:
        description: The Record to store. Read-only fields are ignored.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Record"
            examples:
              restrictedRecord:
                $ref: "#/components/examples/restrictedRecord"
      responses:
        "204":
          description: The Record was stored
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
        "400":
          $ref: "#/components/responses/ValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: The signature is revoked; its Record can no longer be modified.
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "412":
          $ref: "#/components/responses/PreconditionFailedResponse"
    patch:
      tags:
        - Record
      summary: Patch Record
      description: |
        Partially update the Record attached to a signature using JSON Merge Patch (RFC 7386).

        Fields present in the patch replace the stored value (arrays and objects are replaced
        wholesale, not merged), fields set to `null` are cleared, and absent fields are left
        unchanged. The patch applies against the currently attached Record (or an empty one
        when none is attached), and the resulting Record must satisfy the same consistency
        rules as a full replace; a contradictory result is rejected and the stored Record is
        left unchanged.

        Supports optimistic concurrency: pass the current `ETag` in an `If-Match` header to
        make the write conditional; a stale precondition returns `412 Precondition Failed`.
      operationId: PatchSignatureRecord
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      security:
        - BearerAuth: []
      requestBody:
        description: The Record fields to change.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: "#/components/schemas/RecordPatch"
            examples:
              patchRecordByline:
                $ref: "#/components/examples/patchRecordByline"
      responses:
        "204":
          description: The Record was updated
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
        "400":
          $ref: "#/components/responses/ValidationErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          description: The signature is revoked; its Record can no longer be modified.
          headers:
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "412":
          $ref: "#/components/responses/PreconditionFailedResponse"
    get:
      tags:
        - Record
      summary: Get Record
      description: |
        Get the Record attached to a signature.

        Only the partner that registered the signature can read its Record; the full Record
        is never returned via lookup.
      operationId: GetSignatureRecord
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Successful operation
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Record"
              examples:
                restrictedRecord:
                  $ref: "#/components/examples/restrictedRecordWithTimestamps"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
    delete:
      tags:
        - Record
      summary: Delete Record
      description: |
        Delete the Record attached to a signature.

        Deleting a Record removes the attached metadata only; the signature itself remains
        valid and reverts to the default "no Record = private" interpretation.

        Deleting is idempotent: deleting a signature's Record when none is attached succeeds.

        Supports optimistic concurrency: pass the current `ETag` in an `If-Match` header to
        make the delete conditional; a stale precondition returns `412 Precondition Failed`.
      operationId: DeleteSignatureRecord
      parameters:
        - $ref: "#/components/parameters/IfMatch"
      security:
        - BearerAuth: []
      responses:
        "204":
          description: The Record was deleted (or no Record was attached)
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            SASHA-Request-ID:
              $ref: "#/components/headers/SASHA-Request-ID"
        "400":
          $ref: "#/components/responses/ErrorResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "412":
          $ref: "#/components/responses/PreconditionFailedResponse"

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: |
        Base64-encoded string that contains the Client ID and Client Secret.

        The Client ID and Client Secret must each be form-url-encoded.

        The field must have the format: `Authorization: Basic <base64-encoded client_id:client_secret>`
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token obtained from `GetToken` endpoint
  parameters:
    IfMatch:
      name: If-Match
      in: header
      required: false
      description: |
        Optimistic-concurrency precondition (a strong validator). Set it to the `ETag`
        returned by a prior read or write of this Record — the signature's current
        revision, e.g. `"5"`. When present, the write is applied only if the signature's
        revision still matches; a stale precondition is rejected with `412 Precondition
        Failed` and nothing is modified. Omit for last-write-wins.
      schema:
        type: string
      example: '"5"'
  headers:
    ETag:
      description: |
        The signature's current revision as a strong validator, e.g. `"5"`. Pass it back
        in an `If-Match` header on a later write to make that write conditional.
      schema:
        type: string
      example: '"5"'
    SASHA-Request-ID:
      description: |
        The identifier of this request, set on every response. Quote it when contacting
        SASHA support: it is what joins your call to the server-side logs. On an error
        response the same value is repeated in the payload's `request_id`.
      schema:
        type: string
      example: "8f14e45f-ceea-467a-9f0b-2b3a2c5a7d61"
  responses:
    PreconditionFailedResponse:
      description: |
        The `If-Match` precondition did not match the signature's current revision;
        the Record was not modified. Re-read the Record and retry with the new `ETag`.
      headers:
        SASHA-Request-ID:
          $ref: "#/components/headers/SASHA-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ErrorResponse:
      description: An error has occurred.
      headers:
        SASHA-Request-ID:
          $ref: "#/components/headers/SASHA-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ValidationErrorResponse:
      description: |
        The request was rejected. A validation failure lists every offending field in
        `details`; other failures carry `message` only.
      headers:
        SASHA-Request-ID:
          $ref: "#/components/headers/SASHA-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            singleViolation:
              $ref: "#/components/examples/recordValidationErrorSingleViolation"
            multipleViolations:
              $ref: "#/components/examples/recordValidationErrorMultipleViolations"
            embeddedRecordViolation:
              $ref: "#/components/examples/embedRecordValidationError"
    UnauthorizedResponse:
      description: An authorization error has occurred.
      headers:
        SASHA-Request-ID:
          $ref: "#/components/headers/SASHA-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnauthorizedResponse"
    NotFoundResponse:
      description: The requested resource was not found.
      headers:
        SASHA-Request-ID:
          $ref: "#/components/headers/SASHA-Request-ID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  callbacks:
    jobStatusChanged:
      "{$request.body#/callback_url}":
        post:
          summary: Job Status Change Callback
          description: |
            Callback notification sent when a job status changes.

            The callback payload contains the complete Job object with updated status information.
            Partners can use this callback to track the status of their jobs and get notified when the job is complete.

            ### Callback Payload Authentication

            To protect the payload of the callback from tampering in transit, SASHA provides a signature
            of the request payload using the HMAC-SHA256 algorithm. The key for the HMAC-SHA256 algorithm
            is the Callback Secret that the Partner receives from SASHA.

            The request signature is calculated over a few fields concatenated together:

            ```
            HMAC-SHA256(request_method || request_url || request_id || request_payload)
            ```

            Where `||` is the concatenation operator without any separator or padding.

            - The request method is the HTTP method of the request in uppercase, e.g. `POST`.
            - The request url is the URL of the request without the fragment and query parameters.
            - The request id is the value of the `SASHA-Request-ID` header.
            - The request payload is the JSON request body.

            The request signature is included in the `SASHA-Request-Signature` header.

            The Callback Secret used to sign the request payload is identified by its
            Callback Secret ID, returned in the `SASHA-Callback-Secret-ID` header. Use this
            header to look up the matching signing key when you have more than one Callback
            Secret configured (for example, during a key rotation). You can also pin a
            specific Callback Secret per job by passing `callback_secret_id` when submitting
            the job.

            While validating the signature is not mandatory, SASHA recommends to do so to ensure the
            payload genuinely comes from SASHA and was not modified in transit.

            #### Validating the request signature

            Your application should verify that the callback request is genuine and was sent by SASHA
            before responding to the request. This is important for securing sensitive data and protecting
            your application from abuse.

            SASHA includes the request signature in the `SASHA-Request-Signature` HTTP header.

            ##### Example

            Here is an example of how to validate the request signature for the request below:

            - Callback Secret: `MTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTI=`
            - Request method: `POST`
            - Request url: `https://your-app.com/callbacks/sasha-job-update`
            - Request id: `aa-b-c-d-ee`
            - Request payload: `{"job_id":"44cab986-0385-470a-8e5c-c657b0543d19","type":"embed-signature","status":"completed","output_url":"https://storage.sasha.eu/1420f12bb0e7a31104f90311d6e","output_url_expires_at":"2026-01-01T13:00:00.000Z","signature_id":"340558932877813735","creator_id":1,"created_at":"2026-01-01T12:00:00.000Z","updated_at":"2026-01-01T12:00:02.000Z"}`

            The concatenated string would be:
            ```
            POSThttps://your-app.com/callbacks/sasha-job-updateaa-b-c-d-ee{"job_id":"44cab986-0385-470a-8e5c-c657b0543d19","type":"embed-signature","status":"completed","output_url":"https://storage.sasha.eu/1420f12bb0e7a31104f90311d6e","output_url_expires_at":"2026-01-01T13:00:00.000Z","signature_id":"340558932877813735","creator_id":1,"created_at":"2026-01-01T12:00:00.000Z","updated_at":"2026-01-01T12:00:02.000Z"}
            ```

            The request signature is `f3d43248aca374a88fc02bbf29711d02bea65a688f9d28cc19534caf1c5340eb`.

            ### Request Identification

            Each callback delivery includes a unique `SASHA-Request-ID` header that you can use for tracking,
            debugging, and ensuring idempotency.
          operationId: JobStatusChangedCallback
          security: []
          requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Job"
          parameters:
            - name: SASHA-Callback-Secret-ID
              in: header
              required: true
              schema:
                type: string
                examples:
                  - "177F01DA-34F2-4318-9763-B73876FDD7FA"
              description: |
                Identifier of the Callback Secret that was used to sign this
                callback request.

                Use it to look up the matching signing key when validating the
                `SASHA-Request-Signature`. This is how SASHA tells you which of
                your configured Callback Secrets was selected — either the one
                you pinned via `callback_secret_id` on the original job, or the
                one SASHA chose automatically when no ID was provided.

                If you only have a single Callback Secret configured, you can
                ignore this header.
            - name: SASHA-Request-Signature
              in: header
              required: true
              schema:
                type: string
              description: |
                HMAC-SHA256 signature of the request payload.

                See https://developer.sasha.eu/partner-api/api-reference/rest-api/job-status-changed-callback#callback-payload-authentication
            - name: SASHA-Request-ID
              in: header
              required: true
              schema:
                type: string
              description: Unique identifier for this callback delivery request
          responses:
            "200":
              description: Callback received successfully
            "201":
              description: Callback received successfully
            "202":
              description: Callback received successfully
            "204":
              description: Callback received successfully
            "400":
              description: Bad request
            "401":
              description: Unauthorized
            "403":
              description: Forbidden
            "404":
              description: Not found
            "500":
              description: Internal server error
            "502":
              description: Bad gateway
            "503":
              description: Service unavailable
            "504":
              description: Gateway timeout

  examples:
    embedRequestFromURLWithCallback:
      summary: Embed Signature request from URL with callback
      value:
        media_url: "https://example.com/image.jpg"
        media_mime_type: "image/jpeg"
        callback_secret_id: "177F01DA-34F2-4318-9763-B73876FDD7FA"
        callback_url: "https://your-app.com/callbacks/sasha-job-update"
    lookupRequestFromURLWithCallback:
      summary: Lookup Signature request from URL with callback
      value:
        media_url: "https://example.com/image.jpg"
        media_mime_type: "image/jpeg"
        publish_url: "https://news.example.com/articles/123"
        source_url: "https://cdn.example.com/images/abc.jpg"
        callback_secret_id: "177F01DA-34F2-4318-9763-B73876FDD7FA"
        callback_url: "https://your-app.com/callbacks/sasha-job-update"
    embedJobPending:
      summary: Embed Signature job pending
      value:
        job_id: "job_12345"
        type: "embed-signature"
        status: "pending"
        created_at: "2025-01-01T00:00:00Z"
        updated_at: "2025-01-01T00:00:00Z"
    embedJobResponsePending:
      summary: Embed Signature job pending
      value:
        job:
          job_id: "job_12345"
          type: "embed-signature"
          status: "pending"
          created_at: "2025-01-01T00:00:00Z"
          updated_at: "2025-01-01T00:00:00Z"
    lookupJobPending:
      summary: Lookup Signature job pending
      value:
        job_id: "job_12345"
        type: "lookup-signature"
        status: "pending"
        created_at: "2025-01-01T00:00:00Z"
        updated_at: "2025-01-01T00:00:00Z"
    lookupJobResponsePending:
      summary: Lookup Signature job pending
      value:
        job:
          job_id: "job_12345"
          type: "lookup-signature"
          status: "pending"
          created_at: "2025-01-01T00:00:00Z"
          updated_at: "2025-01-01T00:00:00Z"
    embedJobCompleted:
      summary: Embed Signature job completed successfully
      value:
        job_id: "job_12345"
        type: "embed-signature"
        status: "completed"
        output_url: "https://storage.example.com/processed-image.jpg"
        output_url_expires_at: "2025-01-01T01:00:00Z"
        signature_id: "12345678901234567890"
        created_at: "2025-01-01T00:00:00Z"
        updated_at: "2025-01-01T00:00:00Z"
    lookupJobCompleted:
      summary: Lookup Signature job completed successfully
      value:
        job_id: "job_12345"
        type: "lookup-signature"
        status: "completed"
        signature_id: "12345678901234567890"
        creator_id: 1234567890
        guidance:
          share_state: "restricted"
          advice: "not_allowed"
          message: "Only allowed on news.example.com"
        created_at: "2025-01-01T00:00:00Z"
        updated_at: "2025-01-01T00:00:00Z"
    embedJobFailed:
      summary: Embed Signature job failed with error
      value:
        job_id: "job_12345"
        type: "embed-signature"
        status: "failed"
        error:
          code: "image_load_failed"
          message: "Unsupported image format"
        created_at: "2025-01-01T00:00:00Z"
        updated_at: "2025-01-01T00:00:00Z"
    lookupJobFailed:
      summary: Lookup Signature job failed with error
      value:
        job_id: "job_12345"
        type: "lookup-signature"
        status: "failed"
        error:
          code: "image_load_failed"
          message: "Unsupported image format"
        created_at: "2025-01-01T00:00:00Z"
        updated_at: "2025-01-01T00:00:00Z"
    restrictedRecord:
      summary: Record restricting the media to a publisher with an embargo
      value:
        share_state: "restricted"
        allowed_publish_urls:
          - "https://news.example.com/articles/"
        allowed_source_urls:
          - "https://cdn.example.com"
        allowed_from: "2026-07-01T06:00:00Z"
        byline: "Photo by Jane Doe"
        purchase_url: "https://license.example.com/photos/123"
    patchRecordByline:
      summary: Update only the byline, leaving other fields unchanged
      value:
        byline: "Photo by Jane Doe / Example Agency"
    restrictedRecordWithTimestamps:
      summary: Stored Record including server-set timestamps
      value:
        share_state: "restricted"
        allowed_publish_urls:
          - "https://news.example.com/articles/"
        allowed_source_urls:
          - "https://cdn.example.com"
        allowed_from: "2026-07-01T06:00:00Z"
        byline: "Photo by Jane Doe"
        purchase_url: "https://license.example.com/photos/123"
        custom_fields:
          internal_asset_id:
            string_value: "asset-9f3c"
          is_exclusive:
            boolean_value: true
        created_at: "2026-06-15T10:00:00Z"
        updated_at: "2026-06-20T08:30:00Z"
    recordValidationErrorSingleViolation:
      summary: Record write rejected because purchase_url is not an https URL
      value:
        message: "purchase_url must use the https: protocol"
        request_id: "8f14e45f-ceea-467a-9f0b-2b3a2c5a7d61"
        details:
          - field: "purchase_url"
            reason: "UNSUPPORTED_SCHEME"
            description: "purchase_url must use the https: protocol"
    recordValidationErrorMultipleViolations:
      summary: Record write rejected for several fields at once
      value:
        message: "purchase_url must use the https: protocol (+2 more)"
        request_id: "2c3f9b7d-5a41-4a53-8f2e-9b7a1c0d4e62"
        details:
          - field: "purchase_url"
            reason: "UNSUPPORTED_SCHEME"
            description: "purchase_url must use the https: protocol"
          - field: "allowed_publish_urls[1]"
            reason: "INVALID_PATTERN"
            description: "allowed_publish_urls[1]: wildcard is only allowed as the leftmost label"
          - field: "purchaseUrl"
            reason: "UNKNOWN_FIELD"
            description: "purchaseUrl is not a field of Record; Record fields use snake_case names"
    embedRecordValidationError:
      summary: Embed request rejected because the Record it carries is invalid
      value:
        message: "record.purchase_url must use the https: protocol"
        request_id: "5d1a6c22-8e3f-4b19-9d77-0f4c6a2b8e13"
        details:
          - field: "record.purchase_url"
            reason: "UNSUPPORTED_SCHEME"
            description: "record.purchase_url must use the https: protocol"

  schemas:
    AuthErrorResponse:
      # OAuth 2.0 Error Response
      # https://datatracker.ietf.org/doc/html/rfc6749#section-5.2
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: |
            The error code.
          enum:
            # The request is missing a required parameter, includes an unsupported parameter value
            # (other than grant type), repeats a parameter, includes multiple credentials,
            # utilizes more than one mechanism for authenticating the client, or is otherwise
            # malformed.
            - "invalid_request"

            # Client authentication failed (e.g., unknown client, no client authentication
            # included, or unsupported authentication method). The authorization server MAY return
            # an HTTP 401 (Unauthorized) status code to indicate which HTTP authentication schemes
            # are supported.  If the client attempted to authenticate via the "Authorization"
            # request header field, the authorization server MUST respond with an
            # HTTP 401 (Unauthorized) status code and include the "WWW-Authenticate" response
            # header field matching the authentication scheme used by the client.
            - "invalid_client"

            # The provided authorization grant (e.g., authorization code, resource owner credentials)
            # or refresh token is invalid, expired, revoked, does not match the redirection URI used
            # in the authorization request, or was issued to another client.
            - "invalid_grant"

            # The authenticated client is not authorized to use this authorization grant type.
            - "unauthorized_client"

            # The authorization grant type is not supported by the authorization server.
            - "unsupported_grant_type"

            # The requested scope is invalid, unknown, malformed, or exceeds the scope granted by the resource owner.
            - "invalid_scope"
        error_description:
          type: string
          description: |
            Human-readable text providing additional information, used to assist the client
            developer in understanding the error that occurred.
        error_uri:
          type: string
          description: |
            A URI identifying a human-readable web page with information about the error, used to
            provide the client developer with additional information about the error.

    ErrorResponse:
      type: object
      required:
        - message
      description: |
        The error payload returned by the Signature, Job and Record endpoints.

        `message` is always present. `request_id` and `details` are added when available, so a
        client that reads `message` only keeps working unchanged.
      properties:
        message:
          type: string
          description: |
            Human-readable summary of the failure.

            On a validation failure this is the first `details` entry's `description`, suffixed
            with ` (+N more)` when the request has more than one violation. English, not
            localized, and the wording is not stable across releases — never parse or branch on
            it; branch on `details[].reason` instead.
          examples:
            - "purchase_url must use the https: protocol (+2 more)"
        request_id:
          type: string
          description: |
            The identifier of the request that failed, mirroring the `SASHA-Request-ID`
            response header. Quote it when contacting SASHA support: it is what joins your
            call to the server-side logs.
          examples:
            - "8f14e45f-ceea-467a-9f0b-2b3a2c5a7d61"
        details:
          type: array
          maxItems: 20
          items:
            $ref: "#/components/schemas/FieldViolation"
          description: |
            The field violations that caused the request to be rejected.

            Present on validation failures only; absent on every other kind of error. A request
            with more than 20 violations reports the first 20.

    FieldViolation:
      type: object
      required:
        - field
        - reason
        - description
      description: |
        A single field of the request that was rejected, and why.
      properties:
        field:
          type: string
          description: |
            Path of the offending field, in request-body naming. Array entries are indexed and
            map entries are keyed, e.g. `purchase_url`, `allowed_publish_urls[2]`,
            `custom_fields["asset_id"].string_value`.
          examples:
            - "allowed_publish_urls[2]"
        reason:
          type: string
          description: |
            Machine-readable cause of the violation — the value to branch on:
            * `REQUIRED`: A field the request cannot omit was not provided
            * `INVALID_TYPE`: The value has the wrong JSON type for the field
            * `INVALID_FORMAT`: The value has the right type but is not well-formed for the field, e.g. an unparsable URL or timestamp, or a fixed-length value of the wrong length
            * `UNSUPPORTED_SCHEME`: A URL uses a scheme the field does not accept (only `https` is accepted)
            * `FORBIDDEN_USERINFO`: A URL carries userinfo (`user:password@`), which is never accepted
            * `FORBIDDEN_HOST`: A URL points at a host the field does not accept, such as an IP literal or localhost
            * `TOO_LONG`: The value is longer than the field allows
            * `TOO_MANY`: The list or map holds more entries than the field allows
            * `INVALID_CHARACTERS`: The value contains characters the field does not accept, such as control characters
            * `UNKNOWN_VALUE`: The value is not one of the values the field defines, e.g. an unknown `share_state`
            * `NOT_ALLOWED_HERE`: The field is well-formed but not allowed in this combination, e.g. a distribution field on a `private` Record
            * `EXACTLY_ONE_REQUIRED`: Exactly one of a group of mutually exclusive properties must be set, e.g. the typed value of a `custom_fields` entry
            * `UNKNOWN_FIELD`: The body carries a field the endpoint does not define — commonly a misspelling, or a camelCase spelling of a snake_case field
            * `EMPTY`: The value is present but empty where a value is required
            * `INVALID_PATTERN`: A URL pattern is malformed and cannot be interpreted

            The set is closed, but it may be extended with new reasons. Treat a `reason` you do
            not recognise as a generic validation failure rather than failing hard.
          enum:
            - "REQUIRED"
            - "INVALID_TYPE"
            - "INVALID_FORMAT"
            - "UNSUPPORTED_SCHEME"
            - "FORBIDDEN_USERINFO"
            - "FORBIDDEN_HOST"
            - "TOO_LONG"
            - "TOO_MANY"
            - "INVALID_CHARACTERS"
            - "UNKNOWN_VALUE"
            - "NOT_ALLOWED_HERE"
            - "EXACTLY_ONE_REQUIRED"
            - "UNKNOWN_FIELD"
            - "EMPTY"
            - "INVALID_PATTERN"
          examples:
            - "UNSUPPORTED_SCHEME"
        description:
          type: string
          description: |
            Human-readable explanation of this violation, safe to log and to show to a developer.

            It may name the offending field or map key and state the limit that applies, but it
            never echoes the value that was submitted. English, not localized, and the wording is
            not stable across releases — never parse or branch on it.
          examples:
            - "purchase_url must use the https: protocol"

    UnauthorizedResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string

    GetTokenRequest:
      type: object
      required:
        - grant_type
      properties:
        grant_type:
          type: string
          description: |
            The grant type. Must be "client_credentials".
          examples:
            - "client_credentials"

    GetTokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: An access token that can be provided in subsequent calls, for example, to SASHA Partner API services.
        token_type:
          type: string
          description: |
            How the access token may be used. Always "Bearer".
          examples:
            - "Bearer"
        expires_in:
          type: integer
          description: The time period (in seconds) for which the access token is valid.

    JobStatus:
      type: string
      enum:
        - pending
        - completed
        - failed
      description: |
        The status of the job:
        * `pending`: The job has been accepted and is waiting to be processed
        * `completed`: The job is completed successfully
        * `failed`: The job failed with an error

    EmbedSignatureFromURLRequest:
      type: object
      required:
        - media_url
      properties:
        media_url:
          type: string
          description: The URL of the media file to protect by embedding the SASHA Signature into
          examples:
            - "https://example.com/image.jpg"
        media_mime_type:
          type: string
          description: |
            The MIME type of the media file at the given URL.

            If not provided, the MIME type will be inferred from the URL.

            The following MIME types are currently supported:
            - `image/jpeg`
            - `image/png`
            - `image/webp`

            For the most up-to-date list of supported formats and other
            media constraints, see the [Supported Formats reference](https://developer.sasha.eu/partner-api/api-reference/supported-formats).
          examples:
            - "image/jpeg"
        callback_secret_id:
          type: string
          description: |
            Optional identifier of the Callback Secret SASHA should use to sign the
            callback payload for this job.

            Each Callback Secret you have configured with SASHA has a unique
            Callback Secret ID. Pass it here to pin a job's callback signature to
            a specific secret — useful while rotating secrets, or when different
            parts of your system verify callbacks with different keys.

            If omitted, SASHA picks one of your enabled Callback Secrets
            automatically. The Callback Secret that was actually used is always
            returned in the `SASHA-Callback-Secret-ID` HTTP header on the
            callback request, so your endpoint can look up the matching signing
            key when validating the `SASHA-Request-Signature`.
          examples:
            - "177F01DA-34F2-4318-9763-B73876FDD7FA"
        callback_url:
          type: string
          format: uri
          description: Optional callback URL to receive job status notifications
          examples:
            - "https://your-app.com/callbacks/sasha-job-update"
        record:
          $ref: "#/components/schemas/Record"
          description: |
            Optional Record to attach to the resulting signature, carrying the
            creator's declared distribution intent and display metadata.

            Validated at submit: an invalid Record fails the request with a `400`
            and creates no job. Read-only fields are ignored.

    EmbedSignatureFromDataRequest:
      type: object
      required:
        - media
      properties:
        media:
          type: string
          # "format" is deprecated, we should use contentMediaType instead
          # but we need to keep it for backward compatibility as not all
          # clients support contentMediaType
          format: binary
          contentMediaType: application/octet-stream
          description: The media file to protect by embedding the SASHA Signature into
        callback_secret_id:
          type: string
          description: |
            Optional identifier of the Callback Secret SASHA should use to sign the
            callback payload for this job.

            Each Callback Secret you have configured with SASHA has a unique
            Callback Secret ID. Pass it here to pin a job's callback signature to
            a specific secret — useful while rotating secrets, or when different
            parts of your system verify callbacks with different keys.

            If omitted, SASHA picks one of your enabled Callback Secrets
            automatically. The Callback Secret that was actually used is always
            returned in the `SASHA-Callback-Secret-ID` HTTP header on the
            callback request, so your endpoint can look up the matching signing
            key when validating the `SASHA-Request-Signature`.
          examples:
            - "177F01DA-34F2-4318-9763-B73876FDD7FA"
        callback_url:
          type: string
          format: uri
          description: Optional callback URL to receive job status notifications
          examples:
            - "https://your-app.com/callbacks/sasha-job-update"
        record:
          $ref: "#/components/schemas/Record"
          description: |
            Optional Record to attach to the resulting signature, carrying the
            creator's declared distribution intent and display metadata.

            Send it as a JSON-encoded string in a `record` form field with
            content type `application/json`, not as nested bracket fields.

            Validated at submit: an invalid Record fails the request with a `400`
            and creates no job. Read-only fields are ignored.

    EmbedSignatureResponse:
      type: object
      required:
        - job
      properties:
        job:
          $ref: "#/components/schemas/Job"

    Job:
      type: object
      required:
        - job_id
        - type
        - status
        - created_at
        - updated_at
      properties:
        job_id:
          type: string
          description: The ID of the job
        type:
          $ref: "#/components/schemas/JobType"
        status:
          $ref: "#/components/schemas/JobStatus"
        error:
          $ref: "#/components/schemas/JobError"
          description: |
            The error that occurred while processing the job, if the job `status` is `failed`
        output_url:
          type: string
          description: |
            The URL of the result media file (only populated if job `status` is `completed` and `type` is `embed-signature`)
          examples:
            - "https://storage.example.com/processed-image.jpg"
        output_url_expires_at:
          type: string
          format: date-time
          description: The date and time the output URL will expire
          examples:
            - "2025-01-01T00:00:00Z"
        signature_id:
          oneOf:
            - $ref: "#/components/schemas/SignatureID"
            - type: "null"
          description: |
            The Signature identifier (populated when job `status` is `completed`).
            Will be `null` if no signature was found in the image.
        creator_id:
          type: integer
          description: |
            The Creator ID of the business entity that owns the found signature (populated when job
            `status` is `completed`, `type` is `lookup-signature`, and a signature was found — that
            is, exactly when `signature_id` is populated). A lookup never reports a signature
            without its creator.
          format: uint32
          minimum: 0
          maximum: 4294967295
          examples:
            - 1234567890
        guidance:
          $ref: "#/components/schemas/Guidance"
          description: |
            SASHA-evaluated distribution guidance for the found signature (populated when job
            `status` is `completed`, `type` is `lookup-signature`, and an active signature was
            found). A signature without a Record yields guidance with the `private` share state.
        record:
          $ref: "#/components/schemas/Record"
          description: |
            A field-filtered Record for the found signature. Populated only when job `status` is
            `completed`, `type` is `lookup-signature`, an active signature was found, and the
            partner is the owning creator (full Record) or has been granted access (granted fields
            only). Absent for all other lookers and never present for revoked signatures.

            Availability is time-bounded: the disclosed Record is retained for a limited window
            after completion, so it may be absent on jobs fetched later even though `guidance`
            remains. Use `GET /signature/{signature_id}/record` for durable read-back of a Record you own.
        created_at:
          type: string
          format: date-time
          description: The date and time the job was created
          examples:
            - "2025-01-01T00:00:00Z"
        updated_at:
          type: string
          format: date-time
          description: The date and time the job was last updated
          examples:
            - "2025-01-01T00:00:00Z"

    JobError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: |
            Error codes:
            * `failed_to_fetch_from_url`: There was an issue fetching image from the provided image URL
            * `image_already_protected`: The image is already protected with SASHA Signature
            * `image_load_failed`: The image is not a valid image e.g. corrupted or invalid format
            * `image_too_large`: The image is too large to process
            * `image_too_small`: The image is too small to process
            * `internal`: An internal error occurred
          enum:
            - "failed_to_fetch_from_url"
            - "image_already_protected"
            - "image_load_failed"
            - "image_too_large"
            - "image_too_small"
            - "internal"
        message:
          type: string
          description: A developer-facing error message
          examples:
            - "Unsupported image format"

    JobType:
      type: string
      enum:
        - "embed-signature"
        - "lookup-signature"
      description: |
        The type of the job:
        * `embed-signature`: The job is to embed a SASHA Signature into an image
        * `lookup-signature`: The job is to check if an image is already protected with SASHA Signature

    SignatureID:
      type: string
      description: |
        The globally unique identifier of the SASHA Signature embedded into the image.

        The SignatureID is an unsigned 64-bit integer.

        In JSON representation, the SignatureID is represented as a string.
      examples:
        - "12345678901234567890"

    ShareState:
      type: string
      enum:
        - "private"
        - "unrestricted"
        - "restricted"
      description: |
        The creator-declared share state of a protected media item:
        * `private`: The creator declared that the media is not intended to be distributed anywhere public
        * `unrestricted`: The creator declared no distribution restrictions for the media
        * `restricted`: The creator declared that the media is intended to be distributed only where the Record's distribution fields permit

        A share state describes only the intent the creator has declared to SASHA. It is not a
        statement about the legal status of the media; rights such as copyright apply independently.

    Record:
      allOf:
        - $ref: "#/components/schemas/RecordFields"
      required:
        - share_state
      description: |
        A Record attaches creator-declared distribution intent and display metadata to a signature.

        A lookup always returns coarse `guidance` (evaluated server-side). It may additionally
        return a field-filtered Record: the owning partner receives the full Record, a partner the
        owner has granted access to receives only the granted fields, and all other lookers receive
        no Record. The full Record is always readable by its owning partner via `GET /signature/{signature_id}/record`.

        Consistency rules (enforced on write):
        * `share_state` must be set
        * `private` and `unrestricted` Records must not carry any distribution fields
        * `restricted` Records may carry any subset of the distribution fields (`allowed_publish_urls`, `allowed_source_urls`, `allowed_from`, `allowed_to`), including none — the fields form a permit list, so a restricted Record with none of them permits no locations yet and conditions can be added later as they become known
        * `custom_fields` are display/metadata only and may be set under any share state

        Contradictory combinations are rejected.

        Size limits (enforced on write): at most 100 patterns per URL-pattern list, each at most
        2048 characters; at most 32 `custom_fields` entries with keys of 1-64 characters and
        string values of at most 1024 characters; a Record without `c2pa_manifest_store` must not
        exceed 64 KiB when serialized.

    RecordPatch:
      allOf:
        - $ref: "#/components/schemas/RecordFields"
      description: |
        A JSON Merge Patch (RFC 7386) for a Record: fields present in the patch replace the
        stored value (arrays and objects are replaced wholesale, not merged), fields set to
        `null` are cleared, and absent fields are left unchanged. The result must satisfy the
        Record consistency rules. Read-only fields are ignored.

    RecordFields:
      type: object
      properties:
        share_state:
          $ref: "#/components/schemas/ShareState"
        allowed_publish_urls:
          type: array
          items:
            type: string
          description: |
            URL patterns the browser-facing display URL of the media is allowed to match
            (only meaningful with the `restricted` share state).

            Pattern syntax:

            * `https` only. The scheme may be omitted; `https` is implied.
            * A host with no path matches any path on that host: `https://cdn.example.com`.
            * A path ending in `/` matches that prefix: `https://news.example.com/articles/`
              matches `/articles/123` but not `/archive/9`. A path not ending in `/` must match
              exactly.
            * `*.` is a subdomain wildcard, and is only allowed as the leftmost label:
              `https://*.example.com`. It cannot appear elsewhere, so `https://example.com/*`
              is not a valid pattern — omit the path instead. The base of a wildcard must have
              at least two labels and must not be a public suffix.
            * No userinfo, no query string, no fragment, no IP literals, no `localhost`.

            A pattern that does not parse is rejected with an `INVALID_PATTERN` field violation
            naming the entry, e.g. `allowed_publish_urls[1]`.
          examples:
            - ["https://news.example.com/articles/"]
        allowed_source_urls:
          type: array
          items:
            type: string
          description: |
            URL patterns the storage/CDN address of the media bytes is allowed to match
            (only meaningful with the `restricted` share state).

            Same pattern syntax as `allowed_publish_urls`.
          examples:
            - ["https://cdn.example.com"]
        allowed_from:
          type: string
          format: date-time
          description: The media is not allowed to be available before this time (supports embargo dates)
        allowed_to:
          type: string
          format: date-time
          description: The media is not allowed to be available after this time
        byline:
          type: string
          maxLength: 256
          description: |
            Display text the publisher is expected to show alongside the media (e.g. photographer credit).

            Plain text, no control characters. Consumers must always treat this value as text, never as markup.
          examples:
            - "Photo by Jane Doe"
        purchase_url:
          type: string
          format: uri
          maxLength: 2048
          description: |
            URL where the media can be purchased or licensed.

            Must be a well-formed https URL without userinfo, and must not point at an IP literal or localhost.
          examples:
            - "https://license.example.com/photos/123"
        licensee:
          type: string
          maxLength: 256
          description: |
            Legal business name of the entity that has licensed the media asset. Aids enforcers when
            the licence agreement is not bound to a specific location.

            Plain text, no control characters. Consumers must always treat this value as text, never as markup.
          examples:
            - "Example Media Group Ltd."
        asset_source_id:
          type: string
          maxLength: 256
          description: |
            The creator's own upstream source ID for the asset: the creator's identifier for the media
            in their own system.

            Opaque text, no control characters. A UUID (RFC 9562) is recommended but not required.
            Consumers must always treat this value as text, never as markup.
          examples:
            - "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
        custom_fields:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/FieldValue"
          description: |
            Custom fields, keyed by a creator-chosen name. Custom fields are
            display/metadata only: they never participate in distribution guidance evaluation, so
            they may be set under any share state. Disclosure to other parties is governed by the
            creator's record-access policy (managed by SASHA on the creator's behalf).
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: The date and time the Record was first created
        updated_at:
          type: string
          format: date-time
          readOnly: true
          description: The date and time the Record was last replaced

    FieldValue:
      type: object
      minProperties: 1
      maxProperties: 1
      description: |
        A typed value for a custom Record field. Exactly one property is set, which
        pins the value's type. Custom fields are display/metadata only and never participate in
        distribution guidance evaluation.
      properties:
        boolean_value:
          type: boolean
        string_value:
          type: string
        int32_value:
          type: integer
          format: int32
        double_value:
          type: number
          format: double
        uuid_value:
          type: string
          format: byte
          description: A UUID per RFC 9562 as its 16 raw bytes, base64-encoded.

    Guidance:
      type: object
      required:
        - share_state
        - advice
      description: |
        SASHA-evaluated distribution guidance for a found signature.

        Guidance reflects the distribution intent the creator declared to SASHA. It is not a
        determination of the legal status of the media; rights such as copyright apply
        independently of the returned advice. The underlying Record contents are never disclosed,
        though the optional `message` may name domains from the Record's allowed URL patterns
        (domain names are public knowledge).
      properties:
        share_state:
          $ref: "#/components/schemas/ShareState"
        advice:
          type: string
          enum:
            - "allowed"
            - "not_allowed"
            - "inconclusive"
          description: |
            The verdict for the queried location and time:
            * `allowed`: Presence of the media at the queried location at the current time is consistent with the creator's declared distribution intent
            * `not_allowed`: Presence of the media at the queried location at the current time conflicts with the creator's declared distribution intent, or the creator declared the media as not intended for public distribution
            * `inconclusive`: No conclusive verdict could be produced, typically because the share state is `restricted` and no `publish_url` or `source_url` was supplied with the lookup
        message:
          type: string
          description: |
            Human-readable explanation of the verdict, e.g. "Only allowed on example.com".

            Populated at the server's discretion, typically when `advice` is `not_allowed` or
            `inconclusive`. For developer convenience only: English, not localized, and the
            wording is not stable across releases — never parse or branch on it; use `advice` and
            `share_state` for program logic. The text may name domains from the Record's allowed
            URL patterns (domain names are public knowledge and are not masked); it never carries
            full URL patterns or other raw Record content.
          examples:
            - "Only allowed on news.example.com"

    LookupSignatureFromURLRequest:
      type: object
      required:
        - media_url
      properties:
        media_url:
          type: string
          description: The URL of the media file to lookup the SASHA Signature from
          examples:
            - "https://example.com/image.jpg"
        publish_url:
          type: string
          description: |
            The browser-facing URL where the media is displayed or is about to be published.

            Used to evaluate the found signature's Record into distribution guidance on the
            completed job. Strongly recommended: without URL context, restricted media yields
            an inconclusive verdict.
          examples:
            - "https://news.example.com/articles/123"
        source_url:
          type: string
          description: |
            The URL the media bytes were fetched from (e.g. a CDN address).

            Used to evaluate the found signature's Record into distribution guidance on the
            completed job.
          examples:
            - "https://cdn.example.com/images/abc.jpg"
        media_mime_type:
          type: string
          description: |
            The MIME type of the media file at the given URL.

            If not provided, the MIME type will be inferred from the URL.

            The following MIME types are currently supported:
            - `image/jpeg`
            - `image/png`
            - `image/webp`

            For the most up-to-date list of supported formats and other
            media constraints, see the [Supported Formats reference](https://developer.sasha.eu/partner-api/api-reference/supported-formats).
          examples:
            - "image/jpeg"
        callback_secret_id:
          type: string
          description: |
            Optional identifier of the Callback Secret SASHA should use to sign the
            callback payload for this job.

            Each Callback Secret you have configured with SASHA has a unique
            Callback Secret ID. Pass it here to pin a job's callback signature to
            a specific secret — useful while rotating secrets, or when different
            parts of your system verify callbacks with different keys.

            If omitted, SASHA picks one of your enabled Callback Secrets
            automatically. The Callback Secret that was actually used is always
            returned in the `SASHA-Callback-Secret-ID` HTTP header on the
            callback request, so your endpoint can look up the matching signing
            key when validating the `SASHA-Request-Signature`.
          examples:
            - "177F01DA-34F2-4318-9763-B73876FDD7FA"
        callback_url:
          type: string
          format: uri
          description: Optional callback URL to receive job status notifications
          examples:
            - "https://your-app.com/callbacks/sasha-job-update"

    LookupSignatureFromDataRequest:
      type: object
      required:
        - media
      properties:
        media:
          type: string
          # "format" is deprecated, we should use contentMediaType instead
          # but we need to keep it for backward compatibility as not all
          # clients support contentMediaType
          format: binary
          contentMediaType: application/octet-stream
          description: The media file to lookup the SASHA Signature from
        publish_url:
          type: string
          description: |
            The browser-facing URL where the media is displayed or is about to be published.

            Used to evaluate the found signature's Record into distribution guidance on the
            completed job. Strongly recommended: without URL context, restricted media yields
            an inconclusive verdict.
          examples:
            - "https://news.example.com/articles/123"
        source_url:
          type: string
          description: |
            The URL the media bytes were fetched from (e.g. a CDN address).

            Used to evaluate the found signature's Record into distribution guidance on the
            completed job.
          examples:
            - "https://cdn.example.com/images/abc.jpg"
        callback_secret_id:
          type: string
          description: |
            Optional identifier of the Callback Secret SASHA should use to sign the
            callback payload for this job.

            Each Callback Secret you have configured with SASHA has a unique
            Callback Secret ID. Pass it here to pin a job's callback signature to
            a specific secret — useful while rotating secrets, or when different
            parts of your system verify callbacks with different keys.

            If omitted, SASHA picks one of your enabled Callback Secrets
            automatically. The Callback Secret that was actually used is always
            returned in the `SASHA-Callback-Secret-ID` HTTP header on the
            callback request, so your endpoint can look up the matching signing
            key when validating the `SASHA-Request-Signature`.
          examples:
            - "177F01DA-34F2-4318-9763-B73876FDD7FA"
        callback_url:
          type: string
          format: uri
          description: Optional callback URL to receive job status notifications
          examples:
            - "https://your-app.com/callbacks/sasha-job-update"

    LookupSignatureResponse:
      type: object
      required:
        - job
      properties:
        job:
          $ref: "#/components/schemas/Job"

    ListJobsResponse:
      type: object
      required:
        - jobs
      properties:
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/Job"
          description: List of jobs
